@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body{
    --button-color: darkorange;
    --background-color: white;
    --text-color: black;
    --button-text-color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    transition: 1s;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark{
    --button-color: yellowgreen;
    --background-color: #333;
    --text-color: white;
}

.title{
    font-family: 'Nanum Myeongjo', serif;
    padding: 0.5em;
    margin: 0;
    margin-bottom: 2rem;
}

.toggle-button{
    background-color: var(--button-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    font-weight: lighter;
    font-size: 1.1rem;
    padding: 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.8s;
}

.toggle-button:hover{
    transform: scale(1.3);
}

.box{
    color: var(--text-color);
    margin: 5em;
    font-size: 1rem;
}